[submodule "coppeliaSim"]
	path = coppeliaSim
	url = https://github.com/i3drobotics/coppeliaSim.git
	branch = master

[submodule "PyRep"]
	path = PyRep
	url = https://github.com/i3drobotics/PyRep.git
	branch = master